<!-- <h1 class="top3">DESIGN X CODE</h1>
<h1 class="top2">DESIGN X CODE</h1>
<h1 class="top">DESIGN X CODE</h1>
<h1>DESIGN X CODE</h1>
 -->
 <div class="footimg x c12 top2">
 	<%= image_tag "images/footer.svg" %>
 </div>
 <div class="footimg x c12 top">
 	<%= image_tag "images/footer.svg" %>
 </div>
<div class="footimg x c12">
	<%= image_tag "images/footer.svg" %>
</div>