<div class="">
  <!-- Logo -->
  <a href="/" class="">SW</a>

  <!-- Right Navigation -->
  <div class="">
    <%= link_to "About", "about.html", class: "" %>
    <%= link_to "Work", "work.html", class: "" %>

    <!-- Profile picture with dropdown list -->
  
  </div>
</div>