---
title: Digital Art Director & Front-End Developer
---

<div id="home">
  <div class="home">
    <%= image_tag "", width: "200" %>
    <p>
      SOON
    </p>
    <p class="">
      <%= link_to "About", "about.html" %>
    </p>
    <p class="">
      <%= link_to "Work", "work.html" %>
    </p>
  </div>
</div>
